<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
    <title>KINO XP</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand logo" href="#">
        <img src="images/logo.png" width="30" height="30" class="d-inline-block align-top logo" alt="" >
        KINO XP
    </a>
    <div class="collapse navbar-collapse">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/movies">Movies</a>
            <a class="nav-item nav-link" href="#">About</a>
            <a class="nav-item nav-link" href="#">Contact</a>
        </div>
    </div>
</nav>

<div class="container createMovieDiv">
    <div class="centerDiv">
        <button type="button" class="btn btn-outline-success my-2 my-sm-0 loginBtn createBtn">Create movie</button>
    </div>
</div>

</body>
<script src="js/admin.js"></script>
</html>