<!DOCTYPE html>
<html>
<head>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
    <title>KINO XP</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand logo" href="#">
    <img src="images/logo.png" width="30" height="30" class="d-inline-block align-top logo" alt="" >
    KINO XP
  </a>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/movies">Movies</a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
    <form class="form-inline" action="/login">
    <button class="btn btn-outline-success my-2 my-sm-0 loginBtn"  type="submit">Login</button>
  </form>
</nav>

<div class="container movie-details">
    <div class="row">
        <div class="movies">
        <div class="col-sm">
            <h1>KING KONG VS GODZILLA</h1>
            <img src="images/KKVSGOD.jpeg" width="300" height="150" class="kkvsgod">
            <p>King Kong vs Godzilla er en vild film <br> der handler om et monster og en abe der slås</p>
            <form action="/movies">
            <button type="submit" value="Book"> "Book tid"</button>
            </form>
        </div>
        </div>
        </div>
    </div>

<div class="container movie-details">
        <div class="row">
            <div class="IntroText">
            <div class="col-sm">
        <p1>KINO XP hjemmeside findes nu<br> book jeres tid og se de nyeste og skøreste film nu i vores biografer.</p1>
            </div>
        </div>
    </div>
</div>

</div>
</body>
</html>