<!DOCTYPE html>
<html>
<head>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
    <title>KINO XP</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand logo" href="/">
    <img src="images/logo.png" width="30" height="30" class="d-inline-block align-top logo" alt="" >
    KINO XP
  </a>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/movies">Movies</a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
    <form class="form-inline">
    <button class="btn btn-outline-success my-2 my-sm-0 loginBtn" type="submit">Login</button>
  </form>
</nav>

<p id="printMovies"></p>
<script src="js/script.js"></script>

</body>
</html>