<!DOCTYPE html>
<html>
<head>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
    <title>KINO XP</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand logo" href="/">
    <img src="images/logo.png" width="30" height="30" class="d-inline-block align-top logo" alt="" >
    KINO XP
  </a>
  <div class="collapse navbar-collapse">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/movies">Movies</a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Contact</a>
    </div>
  </div>
    <form class="form-inline" action="/login">
    <button class="btn btn-outline-success my-2 my-sm-0 loginBtn" type="submit">Login</button>
  </form>
</nav>


<div class="container movieBtnDiv">
    <button type="button" class="btn btn-outline-success my-2 my-sm-0 loginBtn movieBtn" id="nowShowing" onclick="buttonToggle('nowShowing')" value="Now Showing">Now Showing</button>
    <button type="button" class="btn btn-outline-success my-2 my-sm-0 loginBtn movieBtn"  id="comingSoon" onclick="buttonToggle('comingSoon')" value="Coming Soon">Coming Soon</button>
</div>

<div class="container movieDiv">
    <div class="row" id="movieRow">

    </div>
</div>


</body>
<script src="js/script.js"></script>
</html>